<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlator</servlet-name>
        <servlet-class>Controlator.Controlator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionAlumno</servlet-name>
        <servlet-class>Servlet.InicioSesionAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>Servlet.pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPdf</servlet-name>
        <servlet-class>Servlet.ControllerPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlator</servlet-name>
        <url-pattern>/Controlator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionAlumno</servlet-name>
        <url-pattern>/InicioAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPdf</servlet-name>
        <url-pattern>/ControllerPdf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
